{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{% static 'graph_of_pets/highcharts.js' %}"></script>
<script src="{% static 'graph_of_pets/exporting.js' %}"></script>
<script type="text/javascript">
$(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Research done in <b>{{all_users}} peoples at <a href="http://instagram.com/" style="color: #659ED5;">Instagram</a>.</b>'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Firefox',   25],
                ['Chrome',    50],
                ['Safari',    81]
            ]
        }]
    });
});
</script>
<script type="text/javascript">
$(window).ready(function() {
    $(".loader").fadeOut("slow");
})
</script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard

{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="loader"></div>
<div id="content-main">
<div class="app-instagram module">
<div id="chart" style="min-width: 510px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="desc">
    <h1>oksdfsdfsfsfsdfsdsfdfssdfsdfsdf</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>
</div>
</div>
{% endblock %}


