{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{% static 'graph_of_pets/highcharts.js' %}"></script>
<script src="{% static 'graph_of_pets/exporting.js' %}"></script>
<script type="text/javascript">
$(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Research done in <b>{{all_users}} between users who create pets at <br><a href="http://instagram.com/" style="color: #659ED5;">Instagram</a>.</b>'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Dog Users',   {{dog_users}}],
                ['Other Users',    {{other_users}}],
                ['Cat Users',    {{cat_users}}]
            ]
        }]
    });
});
</script>
<script type="text/javascript">
$(window).ready(function() {
    $(".loader").fadeOut("slow");
})
</script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard

{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="loader"></div>
<div id="content-main">
<div class="app-instagram module">
<div id="chart" style="min-width: 510px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="desc">
    <h1>Okay. But, what this do?</h1>
    <p>In the graph at the left, we can see many datas of instagram. They're giving me information of a lot users that love pets! The animals are classified in two categories: cats and dogs.
    The graph show the users that they take care, like cats and dogs, so on...
    {{all_users}} were randomly selected from webservice of the Instagram. I could selected so many more users, but the request time it's gratest, in the total, are 14300 users at response. So, it's fine, I hope to be able to help.
    </p>
</div>
<table id="t01" style="width:100%">
  <caption>Illustrative table</caption>
  <tr>
    <th>Pets</th>
    <th>Users</th>
  </tr>
  <tr>
    <td>Cats users</td>
    <td>{{cat_users}}</td>
  </tr>
  <tr>
    <td>Dog users</td>
    <td>{{dog_users}}</td>
  </tr>
  <tr>
    <td>Other users</td>
    <td>{{other_users}}</td>
  </tr>
  <tr style="background-color: black; color: white;">
    <td>Total users</td>
    <td>{{all_users}}</td>
  </tr>
</table>
</div>
</div>
{% endblock %}


