.dashboard #content {width: 600px;}

#desc {
	float: right;
	width: 100%;
	position: relative;
	margin-right: -105%;
	margin-top: -404px;
	border: 4px solid #ccc;
	word-wrap: break-word;
}

#desc h1{text-align: center;}

.module {border: 4px solid #ccc;}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://myhockeytradingcards.com/images/pleaseWaitOverlay.gif') 50% 50% no-repeat #FFF;
}